<footer class="mt-4 " style="font-size: large; background-color: #e8e5c5">
    <div class="container" >
      <div class="row">
        <div class="col-md-4 mt-4">
          <h5>Thông tin liên hệ</h5>
          <ul class="list-unstyled">
            <li>Địa chỉ: 123 Đường ABC, Quận XYZ, TP. HCM</li>
            <li>Điện thoại: 0123456789</li>
            <li>Email: info@company.com</li>
          </ul>
        </div>
        <div class="col-md-4 mt-4">
          <h5 style="font-size: large;">Liên kết nhanh</h5>
          <ul class="list-unstyled" style="color: aliceblue;">
            <li><a style="color: rgb(0, 0, 0);" href="#">Trang chủ</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#">Giới thiệu</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#">Sản phẩm</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#">Tin tức</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#">Liên hệ</a></li>
          </ul>
        </div>
        <div class="col-md-4 mt-4">
          <h5 style="font-size: large;">Theo dõi chúng tôi</h5>
          <ul class="list-unstyled">
            <li><a style="color: rgb(0, 0, 0);" href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a style="color: rgb(0, 0, 0);" href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 ">
          <p class="text-center">© 2021 Company Name. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>