
<ul class="list-group mt-3" >
  <li class="" style="font-weight: bold; font-size: large; color: rgb(142, 126, 126); border-bottom: solid 1px  rgb(228, 207, 207);">
    Công trình hoàn thiện
  </li>
  <ng-container *ngFor="let post of postAll  | slice:0:10" >
  <li class=" mt-1">
    <a class="tagText" style="width: 100%; font-size: 1.6rem; color: rgb(138, 137, 136);" target="_top"
    routerLink="/postDetail/{{post.slug}}"
    routerLinkActive=""
    ariaCurrentWhenActive="page" >{{post.titte}}</a>
      
  </li>
</ng-container>
</ul>

